<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>AuthCheck v0.1</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authcheck.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/xadmin.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/md5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/layui/layui.js') }}" charset="utf-8"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/xadmin.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cookie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    {% block head %}
    {% endblock %}
    <script>
        $.ajaxSettings.beforeSend = function (xhr) {
            xhr.setRequestHeader('Content-Type', 'application/json');
        }
    </script>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>